html {
    font: 62.5%;
    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}

#wrapper{
    max-width: 144rem;
    background-color: darkblue;
    background: linear-gradient(-75deg, rgba(255, 0, 0, 0.8) 15%, darkblue 35%, blue 80%);
    background-size: 500% 500%;
    animation: puls 8s ease-in-out infinite;

    display: flex;  
    flex-direction: column;
    align-items: center;
}
#wrapperHeaderMain{
    width: 100%;
    max-width: 144rem;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
@keyframes puls {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header, main, section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:stretch;

    width: 85%;
    max-width: 700px;
}
.double{
    position: relative;
    top: -2rem;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(21, 0, 255, 0.05) 50%, rgba(0, 0, 255, 0.2) 100%), url("trans.png"), rgba(0, 0, 255, 0.7);
    background-repeat: no-repeat;
    filter: grayscale(10%);
    background-position: top right;
    background-size: 80%;
    display: flex;
    width: 100%;
    max-height: 450px;
    max-width: 700px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    filter: saturate(0.85);
    transition: border-color 1s, filter 1s ease-in-out;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}
.double:hover{
    filter: saturate(1.2);
    border-color: rgba(255, 255, 255, 0.8);
    transition: border-color 1s, filter 0.5s ease-in-out;
}
.half{
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    max-width: 70%;
    min-height: 300px;
    display: block;
}
#skills {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 6rem;
    right: -1rem;
    margin: 0;
    padding: 0rem 1rem 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: blue;
    box-shadow: 0.5rem  0.5rem black;
}
#skills h2 {
    position: relative;
    top: -1.4rem;
    background-color: blue;
    border: 1px solid white;
    border-radius: 1.5rem;
    text-align: center;
}
#skillsBox {
    position: relative;
    top: -1rem;
}

tag{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 0.1rem 0.6rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}
.list {
    display: flex;
    flex-wrap: wrap;
}

.discription {
    font-weight: 200;
}
h1, h2, h3 {
    font-weight:400;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
h1{
    font-family: 'Babylonica', cursive;
    font-size: 7rem;
    font-weight:400;
}

h2{
    font-size: 1.8rem;
    font-weight:400;
}
h3{
    font-size: 1.4rem;
    padding: 0rem;
    font-weight:200;
}

a, a:visited, a:active {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

header{
    height: 100vh;
    
    
}
header .container{
    position: relative;
    top: -3rem;
    align-items: center;
}

#underName {
    position: relative;
        top: -1.6rem;
    align-items: center;
}
main {
    position: relative;
    padding: 0 0 1rem;
    margin: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.btn1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;

    align-self: center;
    padding: 0.2rem 0.6rem 0.3rem;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-width: 2px;
    position: relative;
    bottom:0;
    transition: background-color 1s, bottom 0.3s;
}
.btn1:hover{
    bottom: 5px;
    border-color: white;
    background-color: blue;
    transition: border-color 1s, bottom 0.3s;
}
.projectGap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 8rem;
}
.next {
    position: relative;
    top:0;
    align-self: center;
    justify-self: center;

    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    width: 3rem;
    height: 3rem;

    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    
    transition: top 0.2s, box-shadow 0.2s, border-color 0.1s;
}
.next:hover {
    border-color: rgba(255, 255, 255, 0.6);

    animation-name: moveUp;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    
    transition: top 0.2s, box-shadow 0.2s, border-color 0.1s, moveUp 2s;
}
@keyframes moveUp {
    0% {
        top: -0.2rem;
    }
    50% {
        top:0.2rem;
    }
    100% {
        top:-0.2rem;
    }
}



.projectBox {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

#left{
    background-color: rgba(0, 0, 255, 0.9);
    position:absolute;
    bottom: -7rem;
}

#Projects{
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}
#Projects h2 {
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
}


.singleProject{
    box-sizing: border-box;
    padding-top: 5rem;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.singleProject_frame{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 1);
    border: 2px solid white;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    width: 30%;
    max-width: 700px;
    min-width: 300px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
.singleProject_frame p, .singleProject_frame h3 {
    padding: 0.5rem 1rem;
}

.shortDescription{
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0.5rem;
    border-bottom: 2px solid white ;
}

.singleProject_frame_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    padding: 0.2rem 1.5rem;

    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
    font-size: 1rem;

    margin-bottom: 1rem;
    color: black;
    background-color: white;
    border-radius: 1rem;
    border: 0 solid ;
    box-shadow: 0.5rem 0.5rem black;
    transition: background-color 1s ease-in-out;
}
.eye{
    transition: filter 1s, transform 0.5s ease-in-out;

}


.singleProject_frame_btn:hover .eye{
    filter: invert(0.5) sepia(1) saturate(5);

    transition: filter 1s, ease-in-out;
}

.view {
    box-shadow: 10px 10px black;
    box-sizing: border-box;
    border: 1px solid black;
    max-width: 100vw;
}

.thumb a{
    padding: 0;
    margin: 0;
}
.odd{
    flex-direction: row-reverse;
}
.projectView{
    align-content: center;
    width: 700px;
    max-width: 100vw;
    background: url("tv_small.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.title{
    border-radius: 0.2rem 0.2rem 0 0;
    border-bottom: 2px solid white;
    background-color: rgba(128, 0, 128, 0.4);


}
@media screen and (min-width: 1150px) {
    .singleProject_frame{
        max-width: 300px;
    }
}


@media screen and (max-width: 1150px) {
    .singleProject{
        width: 100%;
    }
    .singleProject_frame{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #wrapper * {
        box-shadow:none;
    }
    #wrapperHeaderMain{
        background: linear-gradient(-75deg, rgba(255, 0, 0, 0.8) 15%, darkblue 35%, blue 80%);
        background-size: 500% 500%;
        animation: puls 8s ease-in-out infinite;
    }
    header{
        height: 100vh;
    }
    header .container {
        position: absolute;
        top:30vh
    }
    header h1 {
        font-family:'Playfair Display', serif;
        font-size: 4rem;
        line-height:4rem;
        text-align: center;
    }
    #underName {
        position: relative;
        top:0rem;
        text-align: center;
        font-size: 1.5rem;
    }
    header .next {
        margin-top: 1rem;
    }

    main {
        justify-content: flex-start;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .double {
        background: linear-gradient(90deg, rgba(21, 0, 255, 0.0) 40%, rgba(0, 0, 255, 0.1) 100%), url("trans.png"), rgba(255, 0, 153, 0.1);
        border-radius: 0;
        border: 2px solid white;
        border-style: solid none none none;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        max-height: none;
        top: 0rem;
    }
    .half{
        box-sizing: border-box;
        padding: 1.2rem;
        padding-top: 35%;
        max-width: 100%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
    }
    #skills{
        display: flex;
        flex-direction: column;
        position: static;
        box-shadow: 0rem 1rem rgba(0, 0, 0, 0.5) !important;
    }

    .discription {
        background-color: rgba(0, 0, 139, 0.9);
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        border: 1px solid rgb(255, 255, 255);
    }
    #left{
        display: none;
    }
    #Projects h2 {

        margin: 0;
        padding: 0 0 2rem;
    }
    .singleProject{
        padding-top: 0rem;
    }
    .singleProject_frame{
        box-shadow: 0rem 1rem rgba(0, 0, 0, 0.5) !important;
    }
    .thumb{
        max-width: 100vw;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid white ;
    }
    
    .singleProject_frame_btn{
        box-shadow: 0rem 0.5rem black !important;
    }
  }

footer {
    background: linear-gradient(-45deg, rgba(255, 0, 0, 0) 15%, rgba(0, 0, 139, 0.6) 35%, rgba(0, 0, 255, 0) 80%);
    padding: 1rem 0 ;
}
footer .container {
    flex-direction: row;
    justify-content: space-evenly;
}